.primary-button {
  border-radius: 0.875rem;
  font-weight: 700;
  color: $color-white;

  padding: 1.0313rem 3rem;

  background: linear-gradient(97.86deg, rgba(255, 186, 38, 1) 0%, rgba(255, 154, 14, 1) 100%);

  display: flex;
  align-items: center;
  gap: 0.625rem;
}
