.swiper-arrow {
  background-color: $color-yellow;

  color: $color-white;

  width: 4.75rem;
  height: 4.75rem;

  display: grid;
  place-content: center;

  border-radius: 50%;

  box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);

  &:after {
    content: "";
    display: block;

    background-image: url("/FoodWagon/images/popular/arrow.svg");
    background-repeat: no-repeat;

    width: 1.25rem;
    height: 1.875rem;
  }
}
