.discounts {
  padding: 5rem 0;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__card {
    &--img {
      border-radius: 1rem;

      overflow: hidden;

      position: relative;

      aspect-ratio: 4 / 3.3;

      margin-bottom: 2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--number {
      width: 140px;
      height: 83px;

      position: absolute;
      bottom: 0;
      left: 0;

      padding: 0.6875rem 1.125rem;

      background-color: $color-primary;
      border-radius: 0 2rem 0 0;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $color-white;

      p {
        font-size: 4.25rem;
        line-height: 1;
      }
    }

    &--interest {
      p {
        font-weight: 400;
        font-size: 22px;
      }

      span {
        font-weight: 700;
        font-size: 35px;

        line-height: 1;
      }
    }

    &--name {
      margin-bottom: 0.75rem;

      font-size: 1.375rem;
    }

    &--remaining {
      display: inline-block;

      background-color: $color-warning-opacity;
      border-radius: 0.5rem;

      padding: 0.5rem 1rem;

      color: $color-warning;
      font-size: 1.375rem;
    }
  }

  @media (max-width: $bp-laptop-s) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }

  @media (max-width: $bp-mobile-xl) {
    padding: 2rem 0;

    &__cards {
      grid-template-columns: repeat(1, 1fr);
      place-content: center;
    }

    &__card {
      &--img {
        margin-bottom: 0.5rem;
      }
    }
  }
}
