.popular {
  padding: 5rem 0;

  &__container {
    max-width: 110.25rem;
    padding: 0 1.25rem;
    margin: 0 auto;
  }

  &__body {
    position: relative;
  }

  &__cards {
    padding: 0 7.625rem;
  }

  &__card {
    font-size: 1.375rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: auto;

    &--img {
      border-radius: 1rem;

      margin-bottom: 0.8rem;
    }

    &--name {
      color: $color-gray-800;
      font-size: 1.375rem;
    }

    &--restaurant {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: $color-primary;
      font-weight: 400;
    }

    &--price {
      margin-bottom: 1rem;
    }

    &--button {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 5.5rem;
  }

  @media (max-width: $bp-tablet) {
    padding-top: 2rem;
    padding-bottom: 7rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__cards {
      padding: 0 4rem;
    }

    &__card {
      text-align: center;

      &--restaurant {
        justify-content: center;
      }

      &--img {
        width: 100%;
      }
    }
  }

  @media (max-width: $bp-mobile-xl) {
    padding-bottom: 8rem;

    &__title {
      font-size: 1.875rem;
      margin-bottom: 1rem;
    }

    &__cards {
      padding: 0 0;
    }
  }
}

.swiper-button-prev-popular,
.swiper-button-next-popular {
  @media (max-width: $bp-tablet) {
    top: auto;
    bottom: -100px;
  }
}

.swiper-button-next-popular {
  &:after {
    transform: rotate(180deg);
  }

  @media (max-width: $bp-tablet) {
    right: calc(50% - 100px);
  }
}

.swiper-button-prev-popular {
  @media (max-width: $bp-tablet) {
    left: calc(50% - 100px);
  }
}
