.restaurants {
  padding-bottom: 5rem;

  &__title {
    margin-bottom: 5.5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__card {
    &--img {
      position: relative;
      overflow: hidden;

      border-radius: 1rem;

      margin-bottom: 1.5rem;

      img {
        width: 100%;
        height: 100%;

        display: block;
      }
    }

    &--discount {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;

      display: flex;
      align-items: center;
      gap: 0.625rem;

      padding: 0.2813rem 0.625rem;

      color: $color-white;
      font-size: 1.375rem;
      background-color: $color-warning;
      border-radius: 0.5rem;
    }

    &--info {
      display: flex;
      gap: 1.5rem;

      margin-bottom: 2rem;
    }

    &--name {
      font-size: 1.375rem;
    }

    &--rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        color: $color-primary;
        font-weight: 400;
        font-size: 1.375rem;
      }
    }

    &--status {
      font-size: 1.375rem;

      padding: 0.2813rem 1rem;
      border-radius: 1rem;

      display: inline-block;

      &--close {
        color: $color-warning;
        background-color: $color-warning-opacity;
      }

      &--open {
        background-color: $color-success-opacity;
        color: $color-success;
      }
    }
  }

  &__button {
    margin: 0 auto;
    margin-top: 5.5rem;
  }

  @media (max-width: $bp-laptop-s) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }

    &__button {
      margin-top: 3rem;
    }
  }

  @media (max-width: $bp-mobile-xl) {
    padding-top: 1rem;

    &__title {
      margin-bottom: 1rem;
      font-size: 1.875rem;
    }

    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
